{% extends 'base.html'%}
{% load static %}

{% block title %}
	Blog | home
{% endblock title %}

{% block content %}
<div class="container mt-4">
	{% for post in object_list %}
	<div class="row">			
		<div class="col">			
			<div class="container border">	
				<!--Titulo-->			
				<h1>
					<a class="a-no-decoration" href="{{ post.get_absolute_url }}">{{post.titulo}}</a>
				</h1>
				
				<!--Preview do post-->
				<h3 class="text-post">
					<a class="a-no-decoration" href="{{post.get_absolute_url}}">{{ post.conteudo|safe|truncatechars:'200' }}</a>
					
				</h3>
				<br>	
				<p class="post-meta">
					Postado por
					<a href="#!">{{ post.autor }}</a>
					em {{ post.publicado}}
				</p>                  
			</div>			
		</div>
	</div>
	<hr>
	{% endfor %}	
	{% include 'parciais/_pagination.html'%}
</div>


{% endblock content %}
