{% extends 'base.html'%}

{% block title %}
	Blog | Detalhes
{% endblock title %}

{% block content %}
<div class="container justify-content-center">
	{% if messages %}
		<ul class="messages">
			{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
	{% endif %}
 	<div class="post-entry border">
		<div class="d-flex justify-content-center">
			<h1 class="text-primary">{{ postagem.titulo}}</h1>
		</div> 		
 		<p>{{postagem.conteudo|safe}}</p>
		 <p>{{postagem.conteudo|safe}}</p>
		<!-- safe é pata exibir a imagem e 'truncatechars:'200'' é limitar o tanto de text exibido no template-->
		 
 	</div>
	<div class="d-flex justify-content-center">		
			<a class="col-sm-3 d-flex bg-secondary p-1 m-1 text-center" href="{{ postagem.get_absolute_url_update }}"><h5>+ Editar postagem do blog</h5></a>
			<a class="col-sm-3 d-flex bg-secondary p-1 m-1 text-center" href="{{ postagem.get_absolute_url_delete }}"><h5>+ Deletar postagem<h5></a>		
	</div>
</div>
{% endblock content %}