{% extends 'base.html'%}
{% load bootstrap %}

{% block title %}
	Blog | Nova Postagem
{% endblock title %}

{% block content %}

<div class="container justify-content-center">
    <div class="card">
        <div class="card-header d-flex justify-content-center text-primary">
            <h1 class="">Nova postagem</h1>
        </div>
        <div class="card-body">
            <form action="" method="post" enctype="multipart/form-data">            
                <!---->
                <div class="form-group">
                    {% csrf_token %}
                    <!--{{ form.as_p}}-->
                    <!--{{ form|bootstrap }}-->
                    {{ form|bootstrap_horizontal:'col-lg-1' }}
                    <div class="d-flex justify-content-center">
                        <input class="btn btn-primary" type="submit" value="Salvar">
                    </div>
                    
                </div>    
            </form>
        </div>
    </div>

</div>   		
 	
{% endblock content %}