{% extends 'base.html'%}
{% load static %}



{% block title %}
	Blog | Detalhes
{%endblock%}
<div class="container">
{% block header%}
	{% if object.imagem %}
		<header class="container" 
			style="background-image: url({{object.imagem.url}}); no-repeat;
				color: white;
				text-align: center;
				height: 400px;
				max-width: 1280px;
				margin: 0 auto;
				padding: 100px 0 0 0; 
				background-size: 100% 100%;">
			<h1 class="text-center">{{postagem.titulo}}</h1>
	{%else %}
		<header class="container" 
			style="background-image: url({% static 'img/header.PNG' %}); 
					no-repeat;
					text-align: center;
					color: white;
					height: 400px;
					width: 100%;
					padding: 100px 0 0 0; 
					margin: 0 auto;
					line-height: 100px;
					background-size: 100% 100%;">
					
			<h1>{{postagem.titulo}}</h1>
	{% endif %}
	</div>
</div>
{% endblock header%}

{% block content %}
	<div class="container justify-content-center">
		{% if messages %}
			<ul class="messages">
				{% for message in messages %}
					<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				{% endfor %}
			</ul>	
		{% endif %}
		<div class="col justify-content-center">
			<div class="row">
				<div class="container border">
					<div class="d-flex justify-content-center">
						<div class="text-primary" style="font-size: 50px; color: #2F4F4F">{{ postagem.titulo}}</div>
					</div> 
			</div>
			<div class="row d-flex justify-content-center" style="font-size: 25px">
				<p >{{postagem.conteudo|safe}}</p>
				<!-- safe é pata exibir a imagem e 'truncatechars:'200'' é limitar o tanto de text exibido no template-->
			</div>
			{% if request.user.is_authenticated %}
			<div class="container d-flex justify-content-center border">		
			
					<a class="text-center d-inline m-2 btn btn-primary text-white" href="{{ postagem.get_absolute_url_update }}"><h5>+ Editar postagem do blog</h5></a>
					<a class="text-center d-inline m-2 btn btn-primary text-white" href="{{ postagem.get_absolute_url_delete }}"><h5>+ Deletar postagem<h5></a>		
			</div>
			
			{% endif %}
			
			
			
		</div>
		
	</div>
    
{% endblock content %}